.Productos .jumbotron {
    background-color: rgb(0, 87, 128);
    color: white;
}

.btn-agregar{
    color: white;
    float: right;
}

.btn-agregar:hover{
    text-decoration:none;
    color: rgb(185, 178, 178);
}